In [11]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
import nbinteract as nbi

In [12]:
df_data = pd.read_csv("/Users/timhebborn/Desktop/E0.csv")
df_data = df_data[['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]
df_data.head()

        HomeTeam   AwayTeam  FTHG  FTAG
0        Arsenal  West Brom     1     0
1         Bolton      Stoke     3     1
2        Everton  Blackburn     2     3
3           Hull     Fulham     2     1
4  Middlesbrough  Tottenham     2     1

In [13]:
@interact
def show_HG_more_than(column='FTHG', x=10):
    return df_data.loc[df_data[column] == x]




#@interact
#def show_articles_more_than(column='claps', x=5000):
 #   return df.loc[df[column] > x]

interactive(children=(Text(value='FTHG', description='column'), IntSlider(value=10, description='x', max=30, mâ€¦

In [ ]:
nbi.publish()